<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ORM</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-md-center probando">
            <div class="col col-lg-6 p-5">
                <h1>Probando app!</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur cum maxime distinctio, facere officiis repellat autem quas, voluptatem aliquam illum numquam officia optio explicabo, ipsa iusto hic praesentium quisquam et.</p>
                <button type="button" class="btn btn-primary">Boton</button>
            </div>
        </div>
        <div class="row justify-content-md-center p-5">
            <div class="col col-lg-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto non aut, debitis tempore minima perferendis cumque, ipsam molestiae nihil aspernatur quibusdam nisi fugit ex, eaque voluptatem vel dolores tenetur voluptate.</p>
                <p>© Company 2017-2021</p>
            </div>
        </div>
    </div>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>